extends ./layout

block content
  .not-found-wrapper
    h1.display-1 Sorry
    h4.dispaly-4 Either your aren't cool enough to visit this page or it doesn't exist 🙂
    a.btn.btn-success.btn-lg.rounded-1.mt-2(href="/") Back to Home