extends layout

block content
  h1.text-center.display-1.my-5 About
  code.text-secondary.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error est autem eaque reiciendis animi dolorum doloribus sapiente accusamus aliquid voluptate, quam pariatur unde in quod, itaque deserunt veniam perferendis hic commodi tempora aperiam repudiandae? Aspernatur nihil id cum enim, praesentium ad. Molestiae minus ducimus quaerat inventore doloribus, ipsam perspiciatis itaque, temporibus harum eos obcaecati corporis. Vel maxime amet id possimus veritatis dolores nobis sit repellat fugit nesciunt, deserunt ea provident a vero, hic harum tenetur explicabo dicta tempora autem. Consequatur dolores voluptates eius est consequuntur, et aliquam repudiandae quos? Non fugit quasi enim aspernatur inventore vitae quibusdam autem totam!
  