extends ../layout

block content
  h1.display-1 Change Password
  form(method="POST")
    label(for="old") Old password
    input(id="old", type="password", name="old", class="form-control")
    br
    if errors
      if errors[0].length
        .alert.alert-danger= errors[0]
    label(for="new") New password
    input(id="new", type="password", name="new", class="form-control")
    br
    if errors
      if errors[1].length
        .alert.alert-danger= errors[1]
    label(for="confirm") Confirm new password
    input(id="confirm", type="password", name="confirm", class="form-control")
    br
    if errors
      if errors[2].length
        .alert.alert-danger= errors[2]
    button(type="submit", class="btn btn-primary mr-2") Change
    a(class="btn btn-secondary", href="/users/", role="button") Back